<a href="https://colab.research.google.com/github/Sarbartha07/Python/blob/main/1st_module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
help ("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
print ("Hello World", end = "-")
print ("Hello World!", end = "*")

Hello World-Hello World!*

In [ ]:
print ("Hello World")

Hello World

In [ ]:
print ("Hello", "How are", "You", sep = "-")

Hello-How are-You

In [ ]:
Rain = "No"
if Rain == "Yes":
  print ("Take Umbrella")
else :
  print ("Wear Sunglass")

Wear Sunglass

In [ ]:
dollar_to_rs = 79.8
dollar_amt = 150
rs_amt = dollar_to_rs * dollar_amt
print (dollar_amt,"$ in Rs as per conversion rate (", dollar_to_rs,") is", rs_amt)

150 $ in Rs as per conversion rate ( 79.8 ) is 11970.0

In [ ]:
X = 10
X = "Ten"
print(X)

Ten

In [ ]:
print ("1st statement")
print ("2nd statement")
i = 3
if (i == 3) :
  print ("3rd statement")
  print ("4th statement")
else :
  print ("5th statement")
print ("6th statement")

1st statement
2nd statement
3rd statement
4th statement
6th statement

In [ ]:
True + False + True

2

In [ ]:
True * False

0

In [ ]:
True + True + False + (True * False) + 0 + 1

3

In [ ]:
a = False
b = False
c = False
print ("Output 1: ", a or b or c)

b = True

print ("Output 2: ", a or b or c)

print ("Output 3: ", a and b and c)
a = True
c = True
print ("Output 4: ", a and b and c)

print ("Output 5: ", (a and b) or c)

a = False
print ("Output 6: ", a and (b or c))

a = True
print ("Output 7: ", a or (b or c))

Output 1:  False
Output 2:  True
Output 3:  False
Output 4:  True
Output 5:  True
Output 6:  False
Output 7:  True

In [ ]:
a = 13
b = 6.5

print ("Division", a/b)
print ("Floor Division", a/int (b))
print ("Floor Division", int (a/b))

Division 2.0
Floor Division 2.1666666666666665
Floor Division 2

In [ ]:
str1 = " ' "
str2 = ' '
str3 = " " "   " " "

print("Output 1:", bool(str1))
print("Output 2:", bool(str2))
print("Output 3:", bool(str3))

Output 1: True
Output 2: True
Output 3: True

In [ ]:
String1 = """My name is Sarbartha Ray, I have done my MBA from SIBM"""
String1.find ("Sar")

11

In [ ]:
String1 = """Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation."""
String = String1.lower()
print (""" Frequency of vowel "a" is:""", String.count ("a"))
print (""" Frequency of vowel "e" is:""", String.count ("e"))
print (""" Frequency of vowel "i" is:""", String.count ("i"))
print (""" Frequency of vowel "o" is:""", String.count ("o"))
print (""" Frequency of vowel "u" is:""", String.count ("u"))

 Frequency of vowel "a" is: 10
 Frequency of vowel "e" is: 14
 Frequency of vowel "i" is: 15
 Frequency of vowel "o" is: 8
 Frequency of vowel "u" is: 3

In [ ]:
Eleven = 11
S1 = [32, 33, 34]
New_list = ["Ram", "Jadhu", Eleven, 31.5, S1]
print (New_list[0:5])

['Ram', 'Jadhu', 11, 31.5, [32, 33, 34]]

In [ ]:
Sentence = """ The opportunity to contribute my data analysis skills to Inc42 Media is immensely appealing. Inc42's mission to accelerate India's tech and startup economy resonates deeply with me. The platform's commitment to spotlighting untold stories within the Indian startup ecosystem, coupled with its remarkable growth from a small team to a household name, showcases a dynamic and impactful environment. I'm excited about the prospect of utilizing my expertise to extract insights from data, enriching the narrative of innovation, and being part of a dedicated team that's driving positive change in the tech and startup landscape. """
print (Sentence)

 The opportunity to contribute my data analysis skills to Inc42 Media is immensely appealing. Inc42's mission to accelerate India's tech and startup economy resonates deeply with me. The platform's commitment to spotlighting untold stories within the Indian startup ecosystem, coupled with its remarkable growth from a small team to a household name, showcases a dynamic and impactful environment. I'm excited about the prospect of utilizing my expertise to extract insights from data, enriching the narrative of innovation, and being part of a dedicated team that's driving positive change in the tech and startup landscape.

In [ ]:
Word_List = Sentence.split (" ")
print (Word_List)

['', 'The', 'opportunity', 'to', 'contribute', 'my', 'data', 'analysis', 'skills', 'to', 'Inc42', 'Media', 'is', 'immensely', 'appealing.', "Inc42's", 'mission', 'to', 'accelerate', "India's", 'tech', 'and', 'startup', 'economy', 'resonates', 'deeply', 'with', 'me.', 'The', "platform's", 'commitment', 'to', 'spotlighting', 'untold', 'stories', 'within', 'the', 'Indian', 'startup', 'ecosystem,', 'coupled', 'with', 'its', 'remarkable', 'growth', 'from', 'a', 'small', 'team', 'to', 'a', 'household', 'name,', 'showcases', 'a', 'dynamic', 'and', 'impactful', 'environment.', "I'm", 'excited', 'about', 'the', 'prospect', 'of', 'utilizing', 'my', 'expertise', 'to', 'extract', 'insights', 'from', 'data,', 'enriching', 'the', 'narrative', 'of', 'innovation,', 'and', 'being', 'part', 'of', 'a', 'dedicated', 'team', "that's", 'driving', 'positive', 'change', 'in', 'the', 'tech', 'and', 'startup', 'landscape.', '']

In [ ]:
print (type (Word_List))
len (Word_List)

<class 'list'>

96

In [ ]:
len (Sentence)

626

In [ ]:
sampleList = [100, 200, 300, 400, 500]
sampleList.append (600)
print(sampleList)
sampleList.append (60)
print(sampleList)

[100, 200, 300, 400, 500, 600]
[100, 200, 300, 400, 500, 600, 60]

In [ ]:
list1 = ['ee', 'ff', 'gg']
list2 = ['aa', 'bb', 'cc', 'dd']
new_list = list1 + list2
print(new_list)

['ee', 'ff', 'gg', 'aa', 'bb', 'cc', 'dd']

In [ ]:
L = [15, 14, 5, [1, 5, 6], 9, 10, [[52, 11, 39], [18, 29, 19]], 8]
L[6] [1] [1]

29

In [ ]:
print(L + ["Yug"])

[15, 14, 5, [1, 5, 6], 9, 10, [[52, 11, 39], [18, 29, 19]], 8, 'Yug']

In [ ]:
List_New = [12, 16, 66, 2, 45, 87, 11, 14]
List_old = List_New [1:3]
x = List_New [:-1]
x = x*2
x = List_New + List_old + x
len (x)

24

In [ ]:
car = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : 1964
    }
print (car)
print (car ["Brand"])

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}
Ford

In [ ]:
car["Year"] = 1965
print (car["Year"])

1965

In [ ]:
print (car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1965}

In [ ]:
car.update ({"Relunch_Year": 1965})
print (car)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1965, 'Relunch_Year': 1965}

In [ ]:
car.items()

dict_items([('Brand', 'Ford'), ('Model', 'Mustang'), ('Year', 1965), ('Relunch_Year', 1965)])

In [ ]:
car.keys()

dict_keys(['Brand', 'Model', 'Year', 'Relunch_Year'])

In [ ]:
dict1 ={"name": "Mike", "salary": 8000, "age" : 34}
temp = dict1.get("age")
print (temp)

34

In [ ]:
for i in range (5,0, -1) :
 print (i)

5
4
3
2

In [ ]:
for i in range (1,6) :
 print("*"*i)

*
**
***
****
*****

In [17]:
for i in range (5,0,-1) :
 print ("*" * i)

*****     ****    ***   **  *

In [14]:
for h in range (1,6) :
  for i in range (1,h+1) :
    print (i, end = "")
  print ()

1
12
123
1234
12345

In [17]:
for h in range (6,1,-1) :
  for i in range (h-1,0,-1) :
    print (i, end = "")
  print ()

54321
4321
321
21
1

In [37]:
for a in range (1, 6) :
  for b in range (1, a+1) :
   print (b, end = " ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [1]:
space = 0

for i in range(1,6) :
 space = i + 1
 for b in range (1, space) :
  print ( end = " ")

 print("*")

 *
  **
   ***
    ****
     *****

In [35]:
for i in range(5, 0, -1):
    spaces = " " * (5 - i)
    stars = "*" * i
    print(spaces + stars)

*****
 ****
  ***
   **
    *

In [1]:
for h in range (6,1,-1) :
  for i in range (1, h) :
    print (i, end = "")
  print ()

12345
1234
123
12
1

In [3]:
n = 5

for i in range(n):
    spaces = " " * (n - i - 1)
    stars = "* " * (i + 1)
    print(spaces + stars)

for i in range(n, 0, -1):
    spaces = " " * (n - i)
    stars = "* " * i
    print(spaces + stars)

    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [1]:
space = 5
for i in range (1, 6):
  print(" " * space + i * "*")
  space -= 1

     *
    **
   ***
  ****
 *****

In [1]:
Bill = int (input("Enter Units"))

if (Bill <= 100) :
 print ("No charge")
elif (Bill> 100 and Bill <= 200) :
  print ((Bill -100) * 5)
else :
  print ((100*5) + ((Bill - 200) * 10))

Enter Units1
No charge

In [5]:
num1 = int (input("Enter First Number"))
num2 = int (input("Enter Second Number"))
num3 = int (input("Enter Third Number"))

if (num1 > num2 and num2 > num3) :
 print (num1)
elif (num2 > num1 and num1 > num3) :
 print (num2)
else :
 print (num3)

Enter First Number1
Enter Second Number2
Enter Third Number3
3

In [7]:
a = "This is orange juice"
print ('orange' in a)

True

In [1]:
def is_vowel(char):
    vowels = "aeiouAEIOU"
    return char in vowels

character = input("Enter a character: ")

if len(character) == 1:
    if is_vowel(character):
        print(f"{character} is a vowel.")
    else:
        print(f"{character} is not a vowel.")
else:
    print("Please enter a single character.")

Enter a character: a
a is a vowel.

In [5]:
list_of_dict = [
    {"Name": "Tom", "Age" : 10},
                {"Name": "Mark", "Age" : 5},
                {"Name" : "Pam", "Age" : 7}
    ]
print(list_of_dict)

[{'Name': 'Tom', 'Age': 10}, {'Name': 'Mark', 'Age': 5}, {'Name': 'Pam', 'Age': 7}]

In [3]:
for l in list_of_dict :
  print (l)
  for b in l :
    print (b)

{'Name': 'Tom', 'Age': 10}
Name
Age
{'Name': 'Mark', 'Age': 5}
Name
Age
{'Name': 'Pam', 'Age': 7}
Name
Age

In [6]:
name = "Tom"
for a in list_of_dict :
  for b in a.values() :
    if (name == b) :
      print(name, "is present in name")
    else :
      print (name, "is not present in name")

Tom is present in name
Tom is not present in name
Tom is not present in name
Tom is not present in name
Tom is not present in name
Tom is not present in name

In [7]:
for a in list_of_dict :
  print(a)
  print ("------")
  for b in a.values() :
    print (isinstance(b,int))

{'Name': 'Tom', 'Age': 10}
------
False
True
{'Name': 'Mark', 'Age': 5}
------
False
True
{'Name': 'Pam', 'Age': 7}
------
False
True

In [8]:
Name = "pam"

for a in list_of_dict :
  print (a)
  print ("----")
  for b in a.values() :
    print (b)
    if (isinstance(b,str) and Name == b.lower()) :
      print (Name,"is present")
    else :
      pass

{'Name': 'Tom', 'Age': 10}
----
Tom
10
{'Name': 'Mark', 'Age': 5}
----
Mark
5
{'Name': 'Pam', 'Age': 7}
----
Pam
pam is present
7

In [2]:
dct_of_list = {
  'fruit': [
    {
      'name': 'apple',
      'no': 2,
      'name': 'kiwi',
      'no': 3
    },
    {
      'name': 'banana',
      'no': 3
    }
  ],
  'vehicles': [
    {
      'name': 'cars',
      'no': 4
    }
  ]
}

In [9]:
print (dct_of_list['fruit'])
print(dct_of_list['vehicles'])

[{'name': 'kiwi', 'no': 3}, {'name': 'banana', 'no': 3}]
[{'name': 'cars', 'no': 4}]

In [1]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
          3: {'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'},
          4: {'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}}
print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}, 3: {'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'}, 4: {'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}}

In [6]:
x = [
'a',
'b',
{
'foo': 1,
'bar':
{
'x': 10,
'y' : 20,
'z': 30
},
'baz': 3
},
'c',
'd'
]

print (x[2]['bar']['z'])

30

In [10]:
sampleDict = {
"class":{
"student":{
"name": "Mike",
"marks":{
"physics": 70,
"history" :80
}
}
}
};
print (sampleDict['class']['student']['marks']['history'])

80

In [ ]:
student = {"1": {'name': 'Emma', 'age': '27', 'sex': 'Female'},
                  2: {'name': 'Mike', 'age': '22', 'sex': 'Male'}}