<a href="https://colab.research.google.com/github/Sarbartha07/Python/blob/main/Python_Workbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numbers

## Q

Explain why this error happened.

*Add reasoning in your notebook that you share with us. Mentors will review your explanation and share comments.*

In [ ]:
minutes
minutes = 30

NameError: ignored

In [ ]:
## The code is giving error as the value assigned to the variable after calling that variable

## Q
Select the code which will generate output as shown below,

```
a = 13
b = 6.5

print("Output 1: ", ...)
print("Output 2: ", ...)
print("Output 3: ", ...)

Expected output:
Output 1:  2.0
Output 2:  2.1666666666666665
Output 3:  2
```

In [ ]:
a = 13
b = 6.5

print ("Output 1:", a/b)
print ("Output 2:", a/int (b) )
print ("Output 3:", int (a/b))

Output 1: 2.0
Output 2: 2.1666666666666665
Output 3: 2

# Loops - For

## Q

Print the following output using for loop.

```
Expected Output:
1-4-7-10-Stop
```

In [ ]:
print(1,4,7,10,"Stop", sep = "-")

1-4-7-10-Stop

## Q

Write a program to iterate the first ten numbers and print the sum of the current and previous numbers in each iteration.

```
Expected Output:
Printing current and previous number and their sum in a range(10)
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17
Current Number 10 Previous Number  9  Sum:  19
```

In [ ]:
for a in range (0,10) :
  sum = a + (a+1)
  print ("Current number", a+1, "Previous Number", a, "Sum", sum)

Current number 1 Previous Number 0 Sum 1
Current number 2 Previous Number 1 Sum 3
Current number 3 Previous Number 2 Sum 5
Current number 4 Previous Number 3 Sum 7
Current number 5 Previous Number 4 Sum 9
Current number 6 Previous Number 5 Sum 11
Current number 7 Previous Number 6 Sum 13
Current number 8 Previous Number 7 Sum 15
Current number 9 Previous Number 8 Sum 17
Current number 10 Previous Number 9 Sum 19

## Q

Print the following pattern,

```
*
* *
* * *
* * * *
* * * * *
```

In [ ]:
for a in range (1, 6) :
  for b in range (1, a+1) :
   print ("*", end = " ")
  print()

*
* *
* * *
* * * *
* * * * *

## Q

Fix the following code to print the pattern as requested,

The highlighted yellow part is a **blank space**.

It should print the pattern as follow (the first line should not be empty)


```
*
**
***
****
*****
```

In [ ]:
for i in range(1,6):
  print('*' * i)

*
**
***
****
*****

## Q

Fix the following code to print the pattern as requested.

It should print the following pattern,
```
1234512345123451234512345
```

In [ ]:
for a in range(1, 6) :
  for b in range (1,6) :
    print(b, end ="")

1234512345123451234512345

## Q

Fix the following code to print the pattern as requested.

It should print the following pattern,

```
12345
12345
12345
12345
12345
```

In [ ]:
for a in range(1, 6) :
  for b in range (1,6) :
    print(b, end="")
  print ()

12345
12345
12345
12345
12345

## Q
Write the code to print as shown below. Print the number in the new line in reverse order.

Pattern #1:
```
5
4
3
2
1
```

## Q

A code written below generates output as shown below,

Fix the code such that it should print output as follows,

```
*
 *
  *
   *
    *
```

In [ ]:
space = 0
for i in range(1,6) :
  space = i
  print(space * " " + "*")

 *
  *
   *
    *
     *

## Q

Print the following pattern

```
*****
 ****
  ***
   **
    *
```

In [ ]:
for i in range(5, 0, -1):
    spaces = " " * (5 - i)
    stars = "*" * i
    print(spaces + stars)

*****
 ****
  ***
   **
    *

## Q

Fix the following code to print the pattern as asked,

Code should print the following pattern,

```
       *
      * *
     * * *
    * * * *
   * * * * *
```

In [ ]:
space = 6
for i in range (1, 6):
  print(" " * space, i * "* ")
  space -= 1

       *
      * *
     * * *
    * * * *
   * * * * *

## Q

Print the following pattern

```
       *
      *
     *
    *
   *
```

In [ ]:
for a in range (6, 1, -1) :
  for b in range (1, a-1) :
    print (end = " ")
  print ("*")

    *
   *
  *
 *
*

## Q
Print the following pattern,

```
    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *
```

In [ ]:
n = 5

for i in range(n):
    spaces = " " * (n - i - 1)
    stars = "* " * (i + 1)
    print(spaces + stars)

for i in range(n, 0, -1):
    spaces = " " * (n - i)
    stars = "* " * i
    print(spaces + stars)

    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

## Q

Print the following pattern,
```
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1
```

In [ ]:
for h in range (6,1,-1) :
  for i in range (1, h) :
    print (i, end = " ")
  print ()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

## Q

Fix the following code to print the pattern as asked,

In the above code, there is an empty line between the lines.

Code should print the following pattern [Without empty lines],

```
***
**
*
```

In [ ]:
for i in range(3, 0, -1):
    for j in range(1, i+1):
        print("", end="*")
    print("")

***
**
*

## Q
Given a list of numbers. write a program to turn every item on a list into its square.

```
Input:
numbers = [11, 12, 13, 14, 15, 16, 17]

Output:
[121, 144, 169, 196, 225, 256, 289]
```

Complete the following template code
```
numbers = [11, 12, 13, 14, 15, 16, 17]
# result list
res = []
for i in <Iterate the list>:
    # Calculate square and add to the result list
print(res)
```

In [ ]:
numbers = [11, 12, 13, 14, 15, 16, 17]

res = []
for i in numbers:
    res.append (i*i)
print(res)

[121, 144, 169, 196, 225, 256, 289]

# Conditional Statement: if - else

## Q
Write a program to check whether a number is divisible by 7 or not.

In [ ]:
a = int(input("Enter a Number"))
if (a%7 == 0) :
   print("Number is divisible by 7")
else :
   print("Number is not divisible by 7")

Enter a Number50
Number is not divisible by 7

## Q
Write a program to calculate the electricity bill according to the following criteria:

```
    Unit                                                         Price  
First 100 units                                               no charge
Next 100 units                                              Rs 5 per unit
After 200 units                                             Rs 10 per unit
```
(For example if input unit is 350 then total bill amount is Rs 2000)

In [ ]:
Bill = int (input("Enter Units"))

if (Bill <= 100) :
 print ("No charge")
elif (Bill> 100 and Bill <= 200) :
  print ((Bill -100) * 5)
else :
  print ((100*5) + ((Bill - 200) * 10))

Enter Units350
2000

## Q

Write a program to check whether a year is a leap year or not.

In [ ]:
year = int (input ("Enter the Year"))

if (year%400 == 0) :
  print (year,"is a leap year")
elif (year%4 == 0) :
  print (year,"is a leap year")
else :
  print (year, "is not a leap year")

Enter the Year2003
2003 is not a leap year

## Q

Write a program to find the largest number out of three numbers excepted from user.

Partial code:
```
num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))
num3 = int(input("Enter third number"))

<Conditional Logic Here>
```

In [ ]:
num1 = int (input("Enter First Number"))
num2 = int (input("Enter Second Number"))
num3 = int (input("Enter Third Number"))

if (num1 > num2 and num2 > num3) :
 print (num1)
elif (num2 > num1 and num1 > num3) :
 print (num2)
else :
 print (num3)

Enter First Number5
Enter Second Number7
Enter Third Number1
7

## Q

Write a program to check a character is vowel or not.

Code Template:

```
Ch = <Function>("Enter any character")   ## Except Input from the user
...
if <condition>
     print("Entered character is vowel")
...
     print("Entered character is not vowel")
```

In [1]:
# Input a character from the user
ch = input("Enter any character: ")

# Convert the character to lowercase to handle both uppercase and lowercase vowels
ch = ch.lower()

# Check if the character is a vowel
if ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u':
    print("Entered character is a vowel")
else:
    print("Entered character is not a vowel")

Enter any character: ab
Entered character is not a vowel

# IF - ELSE + FOR Loop Practice Problems

## Q

Print the following pattern

```
1
1  2
1  2  3
1  2  3  4
1  2  3  4  5
```

In [ ]:
for a in range (1, 6) :
  for b in range (1, a+1) :
   print (b, end = "  ")
  print()

1
1  2
1  2  3
1  2  3  4
1  2  3  4  5

## Q

Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

```
Input:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

Output:
[25, 35, 40, 60, 90]
```

In [ ]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

list = list1[2:5:2] + list2[0:5:2]

print (list)

[25, 35, 40, 60, 90]

## Q

Write a program to display the smallest word from the string.

```
sentence = """Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.

Pythn is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming.

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0. Python 2.0 was released in 2000.
Python 3.0, released in 2008, was a major revision that was not completely backward-compatible with earlier versions. python 2 was discontinued version 2.7.18 in 2020.

Py consistently ranks as one of the most popular programming languages."""
```

In [ ]:
sentence = """Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.

Pythn is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming.

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0. Python 2.0 was released in 2000.
Python 3.0, released in 2008, was a major revision that was not completely backward-compatible with earlier versions. python 2 was discontinued version 2.7.18 in 2020.

Py consistently ranks as one of the most popular programming languages."""

list = sentence.split()

smallest_word = min (list, key = len)

print (smallest_word)

a

# Capstone Project

## Q

Print the following pattern,

```
        *
      * *
    * * *
  * * * *
* * * * *
```

In [ ]:
for i in range (1,6):
   star = "* " * i
   space = "  " * (5-i)
   print (space + star)

        *
      * *
    * * *
  * * * *
* * * * *

## Q

Print the following pattern,

```
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
```

Please note that there is space between two number, without space between two number will make pattern look like below [This kind of pattern should not be the output]

```
1
23
456
78910
1112131415
```

In [ ]:
num = 1

for i in range(1, 6):
    for j in range(1,i+1):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

## Q

Print the following pattern,

```
      1
    2 1 2
  3 2 1 2 3
4 3 2 1 2 3 4
```

Please note that there is space between two numbers.

In [ ]:
n = 4

for i in range(1, n + 1):
    print(" " * (2 * (n - i)), end="")
    for j in range(i, 0, -1):
        print(j, end=" ")
    for j in range(2, i + 1):
        print(j, end=" ")
    print ()

      1
    2 1 2
  3 2 1 2 3
4 3 2 1 2 3 4

## Q

Print the following pattern,

```
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1
```

Please note that there is space between two numbers.

In [ ]:
for i in range (5,0,-1) :
  for j in range (1,i+1) :
    print (j, end = " ")
  print ()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

## Q

Print the following pattern,

```
*
**
***
****
*****
****
***
**
*
```

In [ ]:
n = 5

for a in range (0, n) :
  print ("*" * (a+1))
for b in range (n-1,0,-1) :
  print ("*" * b)

*
**
***
****
*****
****
***
**
*

## Q

Write a program to check whether a number is prime or not?

In [ ]:
num = int(input ("Enter any number"))

if num > 1 :
  for a in range (2, int(num/2)) :
    if (num % a) == 0 :
      print (num,"is not a prime number")
      break
  else :
      print (num, "is a prime number")
else :
  print ("Number is a decimal")

Enter any number1
Number is a decimal

## Q

Accept the following from the user and calculate the percentage of classes attended:

1. Total number of working days
2. Total number of days absent

After calculating the percentage shows that, If the percentage is less than 75, then the student will not be able to sit in the exam.

In [ ]:
WD = int (input("Enter Total Number of Working Days "))
AB = int (input("Enter Total Number of Days Absent "))

percnt = 1- (AB/WD)

print (percnt)

if percnt > .75 :
  print ("Student will be eligible to sit in the exam")
else:
  print ("Student will not be eligible to sit in the exam")

Enter Total Number of Working Days 300
Enter Total Number of Days Absent 50
0.8333333333333334
Student will be eligible to sit in the exam

## Q

Accept the percentage from the user and display the  grade according to the following criteria:

```
    Below 25 —- D
    25 to 45 —- C
    45 to 50 —- B
    50 to 60 –– B+
    60 to 80 — A
    Above 80 –- A+
```

In [ ]:
marks = float (input ("Enter your marks : "))

if marks < 25 :
  print (marks, ": D")
elif (marks >= 25 and marks < 45) :
  print (marks, ": C")
elif (marks >= 45 and marks < 50) :
  print (marks, ": B")
elif (marks >= 50 and marks < 60) :
  print (marks, ": B+")
elif (marks >= 60 and marks < 80) :
  print (marks, ": A")
else :
  print (marks, ": A+")

Enter your marks : 80
80.0 : A+